@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400&family=Saira+Semi+Condensed:wght@200;300;400;600&display=swap');

body {
    height: 100%;
    max-width: 1400px;
    background-color: #e6e6e6;
  }

#logo{
  height:5em;
}
/*Images for site plan*/
#page1, #page2, #page3, #type{
  height: 15em;
}

#coolors, #map, #weather_icon{
  height: 10em;
}

/*back to normal*/

#fblogo {
  width: 5px;
  position: absolute;
  top: 0;
  right: 30px;
  padding-top: 15px;
}

#gramlogo {
  width: 5px;
  position: absolute;
  top: 0;
  right: 50px;
  padding-top: 15px;
}

#twlogo {
  height: 1;
  /* right: 50px;
  padding-top: 15px; */
}

nav{
  background-color: #003D26;
  box-shadow: 5px 5px 20px #688697;
  border-radius:10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  align-content: center;
  list-style-type: none;
  font-family: Outfit, sans-serif;
}


nav ul{
  list-style-type: none;
  justify-content:left;
  margin: 0;
  float: right;
}

#link:hover{
  background-color: transparent;
  box-shadow: none;
  /* border-radius: none; */
}

nav ul li a{
  display:block;
  color: #fff;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* nav ul{display: none;}
nav ul.open{display: block;} */

h1, h2, h3, h4, h5, h6, p{
  font-family: Outfit, sans-serif;
}

#fruit{
  max-width: fit-content;
  height: auto;
}

div{

}

.quote{
  ali
}


/**/

.date{
  background-color: #CDDAC5;
  text-align: center;
  font-family: Outfit, sans-serif;
  padding: 3px;
  color: #34462A;
  font-size: 18px;
  margin-bottom: 10px;
}


footer{
  background-color: #CDDAC5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:#34462A;
}

footer h1{
  font-size: small;
  color:#34462A;
}

h1, h2{
  font-family: Outfit, sans-serif;
  color:#34462A;
  text-align: center;
}

#content{
  display: grid;
  grid-template-columns: 1fr;
}

/* Hero Image...ish */

#hero_section{
  display: grid;
  grid-template-columns: 1fr;
  /* z-index: -1; */
}

#hero_img{
  width:100%;
  grid-column: 1/2;
  grid-row: 1;
} 

#hero_message{
  position: absolute;
  right: 25px;
  width: 100px;
  background-color: #CDDAC5;
  padding: 1.5rem;
  border: 5px solid #34462A;
  box-shadow: 5px 5px 10px #6f7364;
  border-radius: 3px;
}


#hero_img_large{
  display: none;
}

#info{
  font-family: Outfit, sans-serif;
  color: #34462A;
  text-align: center;
  border: 3px solid #C1666B;
  font-size: 1.2em;
  /* padding: px; */
  margin: 5px;
}

#weather{
  border: 3px solid #C1666B;
  margin: 5px;
  text-align: center;
  font-family: Outfit, sans-serif;
  color: #34462A;
}

#weather_icon{
  width: 20%;
}

#weather hr{
  width: 90%;
}

#action{
  border: 3px solid #C1666B;
  margin: 5px;
  text-align: center;
  color: #34462A;
  font-family: Outfit, sans-serif;
}

#order{
  border: 3px solid #C1666B;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #6f7364; 
  padding: 5px;
  margin: 20px;
}

#smoothie{
  width: 40%;
}

#action hr{
  width: 90%;
}

/* Fresh page CSS */

/* #fresh form{
  border: 3px solid #C1666B;
} */



label, input{
  display: block;
  border-radius: 5px;
  color: #34462A;
  font-size: 1.5em;
}

label{
  margin-top: 20px;
}

input{
  height: 40px;
}

input[type='checkbox']{
  height: 20px;
}

form input:required{
  border-left: #C1666B solid 6px;
}

form input:required:valid{
  border-left: green solid 6px;
}

#checkbox {
  display: grid;
  grid-template-columns: 60px 100px;
  /* align-items: center; */
}

#checkbox label, #checkbox input{
  margin: 0;
}

textarea{
  height: 150px;
}

input, textarea{
  margin-bottom: 20px;
  width: 50%;
  max-width: 500px; 
}

input[type='submit']{
  height: 80px;
  border-radius: 10px;
  background-color:#34462A;
  color: #CDDAC5;
}

#membership li{
  padding: 10px;
}

#join_chamber{
  text-align: center;
  color: #0a1256;
  font-family: Outfit, sans-serif;
}

#fresh_content{
  background-color: antiquewhite;
  border: 2px solid #C1666B;
  border-radius: 3px;
  width: 200px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: .5em;
  display: none;      
}

/* #fresh_content{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
} */

/* .moveDown {
  margin-top: 3em;
} */

/* About Us Page */
#map-img{
  width:70%;
  height:450px;
  display: block;
  margin: 10px auto;
  border: 3px solid #C1666B;
}

#about_us_content{
  display: grid;
  grid-template-columns: 1fr;
}

#trail-img, #ocean-img, #foodtruck-img{
  display: block;
  margin: 10px auto;
  width: 75%;
}

#about-info{
  font-family: Outfit, sans-serif;
  color:#34462A;
  border: 3px solid #C1666B;
  border-radius: 3px;
  padding: 10px;

}



@media only screen and (min-width: 500px){
  ul{
      flex-direction: row;
      justify-content: space-around;
  }
}

