@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400&family=Saira+Semi+Condensed:wght@200;300;400;600&display=swap');

body {
    height: 100%;
    max-width: 1400px;
    background-color: #e6e6e6;
  }

#logo{
  height:5em;
}
/*Images for site plan*/
#page1, #page2, #page3, #type{
  height: 15em;
}

#coolors, #map, #weather_icon{
  height: 10em;
}

/*back to normal*/

#flogo{ 
  width: 20px;
  position: absolute;
  top: 7px;
  right: 50px;
  /* align-items: flex-end; */
}

#gramlogo{ 
  width: 20px;
  position: absolute;
  top: 7px;
  right: 75px;
  /* align-items: flex-end; */
}

#twlogo{
  width: 20px;
  position: absolute;
  top: 12px;
  right: 105px;
}
nav{
  background-color: #003D26;
  box-shadow: 5px 5px 20px #99a2a6;
  border-radius:3px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  align-content: center;
  /*list-style: none;
  */font-family: Outfit, sans-serif;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

nav ul{
  list-style-type: none;
  justify-content:left;
  margin: 0;
  float: right;
}

nav ul li a{
  text-decoration: none;
  display:block;
  color: #fff;
}

nav ul{display: none;}
nav ul.open{display: block;}


li:hover{
  background-color: #d0dcd4;
  padding: 2px;
  box-shadow: none;
}



nav ul {display: none;}
nav ul.open {display: block;} 

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav ul{display: none;}
nav ul.open{display: block;}

h1, h2, h3, h4, h5, h6, p{
  font-family: Outfit, sans-serif;
}

#bannerlarge, #bannerimg{
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

/* #fruit{
  max-width: fit-content;
  height: auto;
} */
/**/

.date{
  background-color: #d0dcd4;
  text-align: center;
  font-family: Outfit, sans-serif;
  padding: 3px;
  color: #003D26;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 7px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}


footer{
  background-color: #d0dcd4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:#34462A;
}

footer h1{
  font-size: small;
  color:#34462A;
}

h1, h2{
  font-family: Outfit, sans-serif;
  color:#34462A;
  text-align: center;
}

#content{
  display: grid;
  grid-template-columns: 1fr;
}

/* Hero Image...ish */

#banner_section{
  display: grid;
  grid-template-columns: 1fr;
  /* z-index: -1; */
}

#bannerimg{
  width:100%;
  grid-column: 1/2;
  grid-row: 1;
} 

#homeMessage{
  position: absolute;
  right: 25px;
  width: 100px;
  background-color: #d0dcd4;
  padding: 1.5rem;
  border: 5px solid #003D26;
  box-shadow: 5px 5px 30px #7e8174;
  border-radius: 3px;
}


#bannerlarge{
  display: none;
}

#info{
  font-family: Outfit, sans-serif;
  color: #34462A;
  text-align: center;
  border: 3px solid #105001;
  font-size: 1.5em;
  /* padding: px; */
  margin: 5px;
  padding:  100px 25px;
}

#weather{
  border: 3px solid #105001;
  margin: 5px;
  text-align: center;
  font-family: Outfit, sans-serif;
  color: #34462A;
}

#weather_icon{
  width: 25%;
}

#weather hr{
  width: 90%;
}

#blender{
  border: 3px solid #003D26;
  margin: 5px;
  text-align: center;
  color: #34462A;
  font-family: Outfit, sans-serif;
  padding:  75px 5px;
}

#order{
  border: 3px solid #003D26;
  color: white;
  background-color: #003D26;;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #ffffff; 
  padding: 5px;
  margin: 20px;
}

/* a:link #order{
  text-decoration: none;
} */

#smoothie{
  width: 30%;
}

#smothie hr{
  width: 80%;
}

/* Fresh page CSS */

/* #fresh form{
  border: 3px solid #C1666B;
} */



label, input{
  display: block;
  border-radius: 5px;
  color: #003D26;
  font-size: 1.5em;
}

label{
  margin-top: 20px;
}

input{
  height: 40px;
}

input[type='checkbox']{
  height: 20px;
}

form input:required{
  border-left: #003D26 solid 6px;
}

form input:required:valid{
  border-left: green solid 6px;
}

#checkbox {
  display: grid;
  grid-template-columns: 60px 100px;
  /* align-items: center; */
}

#checkbox label, #checkbox input{
  margin: 0;
}

textarea{
  height: 150px;
}

input, textarea{
  margin-bottom: 20px;
  width: 50%;
  max-width: 500px; 
}

input[type='submit']{
  height: 80px;
  border-radius: 10px;
  background-color:#003D26;
  color: #CDDAC5;
}

#membership li{
  padding: 10px;
}

/* #join_chamber{
  text-align: center;
  color: #0a1256;
  font-family: Outfit, sans-serif;
} */

#fresh_content{
  background-color: antiquewhite;
  border: 2px solid #003D26 ;
  border-radius: 3px;
  width: 200px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: .5em;
  display: none;
}

#nutfact, #choose {
  align-content: left;
}

/* #fresh_content{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
} */

/* .moveDown {
  margin-top: 3em;
} */

/* About Us Page */
#mapview{
  width:70%;
  height:450px;
  display: block;
  margin: 10px auto;
  border: 3px solid #003D26 ;
}

/* #aboutusContent{
  display: grid;
  grid-template-columns: 1fr;
} */

.pics{
  display: block;
  margin: 10px auto;
  padding-bottom: 30px;
}

#map{
  display: block;
        padding-top:50px;
        padding-bottom: 50px;
        height: 30%;
}

#aboutinfo{
  font-family: Outfit, sans-serif;
  color:#34462A;
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.2em;

}

#drinkCount{
  background-color: #caded4 ;
  color: #003D26;
}

@media only screen and (min-width: 500px){
  ul{
      flex-direction: row;
      justify-content: space-around;
  }
}

