@media only screen and (min-width: 690px){
    nav ul{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px;
    }

    button{
        display:none;
    }

    li{
      margin-left: 5vw;
    }

    #flogo, #ilogo{
        float:right;
        padding: 5px;
    }

    #small_logo{
        display: flex;
    }

    
    #content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    /* Hero Image...ish */
    
    #content_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1;
    }
    
    #bannerimg{
        width:100%;
        grid-column: 1/3;
    }

    #bannerlarge{
        display: none;
    }

    #homeMessage{
     right: 150px; 
     width: 25%;
    }
    
     #weather{
        grid-column: 1/2;
        grid-row:2;
    } 

    #info{
        grid-column: 1/3;
        grid-row: 1;
    }

    #action{
        grid-column: 2/3;
        grid-row: 2;
    }

    .date{
        justify-content: center;
    }

    #aboutusContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #aboutinfo{
        grid-column: 1/3;
        grid-row: 1;
        padding-bottom: 30px;
        /* padding-left: 50px;
        padding-right: 50px; */
        font-size: 1.3em;

    }

    #map{
        grid-column: 1/3;
        padding-top: 30px;
        display: block;
        padding-top:50px;
        padding-bottom: 50px;
        height: 30%;
    }

    #beach{
        grid-column: 1/2;
        grid-row: 2;
        justify-content: center;
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
    }

    #flowers{
        /* grid-column: 2/3;
        grid-row: 2; */
        grid-column: 1/3;
        grid-row: 3;
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }

    #fruitbasket{
        /* grid-column: 1/3;
        grid-row: 3; */
        grid-column: 2/3;
        grid-row: 2;
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
    }


}