@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color:#EAEBED;
    padding:15px;
}
a{
    color:#006989;
    align-content: center;
    font-family: "Libre Baskerville", Times, serif;
    font-size:medium;
}

h1,h2,h3,h4,h5,h6{
    color:#EAEBED;
    background-color: #01A7C2;
    border-radius: 25px;
    padding: 20px;
    border-width: 100px;
    font-family: "Libre Baskerville", Times, serif;
    font-weight: 700;
    text-align: center;
}

p{
    font-family: "Libre Baskerville", Times, serif;
    font-weight: 400;
    text-align: center;
    padding:15px;
    border-style: dotted;
    border-width: 4px;
}

img{
    width: 300px;
    align-content: center;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: lightblue;
    border-radius: 25px;
}

.box1, .box2, .box3 {
    width: 300px;
    flex-grow: 1;
    padding:15px;
}

#etsylink, #peplink, #goodlink{
    justify-content: flex-start;
}

#verygood, #etsy, #drpepper{
    border-style: dotted;
    border-width: 4px;
}