@media only screen and (min-width: 1200px) {
    
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
    }
    
    #content{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    #joinus {
        position: absolute;
        bottom: 0;
        right: 20px;
        background: #22aed1;
        text-align: center;
        color: white;
        padding: 5px;
    }


    #hero{
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 5px;
    }
    
    #welcome{
        color: white;
    }
    
    #medium{
        display: none;
    }
    
    #large{
        display: grid;
    }

    #events{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 5px;
     }
    
    #weather{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 5px
     }
    
    #join{
        display: grid;
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 5px;
    }
    
     #join h1{
        height: 35px;
    }

    #news{
        border: solid black 1px;
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 5px;
    }

    #spot1{
        border: solid black 1px;
        grid-column:3/4;
        grid-row:1/4;
        margin: 5px;
    }
    
    #spot2{
        border: solid black 1px;
        grid-column: 3/4;
        grid-row: 2/3;
        margin: 5px
    }
    
    #spot3{
        display: grid;
        border: solid black 1px;
        grid-column: 3/4;
        grid-row: 3/4;
        margin: 5px;
        text-align: center;
        border-radius:10px;
        padding: 5px;
    }

    #vex{
        width:10em;
        height:auto;
        justify-content: center;
    }
  }


  /*Discover Page*/

  .pics:hover{
    background-color: #016fb9;
    border-radius:5px;
}

    #disPage{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #bay{
        grid-column:1/2;
        grid-row: 1;
    }
    
    #boat{
        grid-column: 2/3;
        grid-row: 1;
    }
    
    #cityHall{
        grid-column:3/4;
        grid-row: 1;
    }
    
    #olympic{
        grid-column:1/2;
        grid-row:2;
    }
    
    #rohr{
        grid-column:2/3;
        grid-row:2;
    }
    
    #mthawk{
        grid-column:3/4;
        grid-row: 2;
    }
    
    #heratige{
        grid-column: 1/2;
        grid-row: 3;
    }
    
    #golf{
        grid-column: 2/3;
        grid-row: 3;
    }
    
    #otay{
        grid-column:3/4;
        grid-row:3;
    }
    
    #eastlake{
        grid-column: 2/3;
        grid-row: 4;
    }
    
    #days{
        grid-column: 2/3;
        grid-row: 5;
    }


}


  /*Directory Page*/
  .table.td{
    display: table-cell;
}