@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#smallLogo, #weatherimg, #farm, #trash, #small_logo2, #weather_icon{
    width:10em;
    height:auto;
}

#runners{
    width: 6em;
    height: auto
}

#smallLogo{
    padding-left:30px;
}

body {
    height: 100%;
    max-width: 1400px;
    justify-items: center;
    background-color: #e6e6e6;
  }

nav{
    background-color: #016fb9;
    box-shadow: 5px 5px 20px #688697;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    align-content: center;
    list-style-type: none;
    /*justify-content: space-between;
    */
}

/* #welcome{
    position: absolute;
    top: 50px;
    left: 80px;
    color:white;
    padding: 5px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 2em;

    } */


#hamburgerBtn {
    /* text-decoration-color: lightblue; */
    /*padding-right:px;*/
    font-size: 2.5em;
    background-color: transparent;
    /* -moz-text-decoration-color: lightblue; */
    /* align-items: right; */
    position: absolute;
    top: 55px;
    right:25px;
}

nav ul{
    list-style-type: none;
    justify-content:left;
    margin: 0;
    float: right;
    /* position: absolute */
}

nav ul li a{
    display:block;
    color: #fff;
}

nav ul{display: none;}
nav ul.open{display: block;}

#joinus{
    position: absolute;
    bottom: 0;
    right: 15px;
    background: #22aed1;
    text-align: center;
    color: white;
    padding: 5px;
}

a{
    /* display: block; */
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    color: darkblue;
    font-weight: 700;
}

.bar a:hover{
    background-color: #22aed1;
    border-radius:5px;
    box-shadow: 5px 5px 10px #1fa0c1;
    padding:2px;
}

/* a:active{
    background-color: #22aed1;
} */

#fblogo {
    width: 20px;
    position: absolute;
    top: 0;
    right: 30px;
    padding-top: 15px;
}

#instalogo {
    width: 35px;
    position: absolute;
    top: 0;
    right: 50px;
    padding-top: 15px;
}

nav h1{
    color:white;
    padding: 5px;
}

#banner{
    display:block;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 25px;
}

footer{
    background-color:#6D8EA0;
    border-radius:10px;
    box-shadow: 5px 5px 25px #688697;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

footer a{
    text-decoration: none;
}

footer h1{
    font-size: small;
    color: white;
}

/* main{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Libre Baskerville', serif;
} */

#hero{
    position:relative;
    margin: 2px;
}

.responsive{
    max-width: 100%;
    height: auto;
}

#small{
    position: relative;
    display: flex;
    /* position: absolute;
    top: 0;
    left: 0; */
}
#medium{
    display:none;
}
#large{
    display:none;
}


#events{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
    padding: 30px
}

#weather{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
    padding: 30px
}

#join{
    display: none;
    border-radius:10px;
    padding: 30px
}


#news{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
    padding: 30px
}

#spot1{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
    padding: 30px;
}

#spot2{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
    padding: 30px
}

#spot3{
    display: none;
}

p{
    background-color:transparent;
}


/*discover page*/

#disPage{
    display:grid;
    grid-template-columns: 1fr;
}

#bay, #boat, #cityHall, #olympic, #rohr, #mthawk, #heratige, #golf, #otay, #eastlake{
    display: block;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 5px;

}

/* .pics{} */

#days{
    display: block;
    padding: 15px;
    text-shadow: 2px 2px 3px #6aacd7;
}

label, input {
    display: block;
    /* font-size: 1.5em; */
}

label {
    margin: 20px 0 0 0;
}

input {
    height: 50px;
}

#bay {
    padding-left:50px;
}
/*  JOIN PAGE */

#join_content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    color: #0a1256;
    font-family: 'Libre Baskerville', serif;
}

label, input{
    display: block;
    font-size: 1.3em;
}

label{
    margin-top: 20px;
}

input{
    height: 40px;
}

input[type='radio']{
    height: 20px;
}

form input:required{
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

#radio {
    display: grid;
    grid-template-columns: 60px 100px;
    /* align-items: center; */
}

#radio label, #radio input{
    margin: 0;
}

textarea{
    height: 150px;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

input[type='submit']{
    height: 80px;
    border-radius: 10px;
    border-color: #999;
    background-color: #22aed1;
    color: #fff;
}

#membership li{
    padding: 10px;
}

#join_chamber{
    text-align: center;
    color: #0a1256;
    font-family: 'Libre Baskerville', serif;
}

/* Thank you CSS */

#thankyou{
    color: #0a1256;
    text-align: center;
    margin-bottom: 20%;
}

/*Discover Page*/
.cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
    color: navy;
}


.cards section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    width: 300px;
    margin: 20px;
}

.cards img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
}

#view {
    text-align: center;
    font-size: 3em;
}

#cards , #list {
    border: 3px solid black;
    padding: 0 8px;
    cursor: pointer;
    box-shadow: 3px 3px 10px 3px #ccc;
}

table {
    width: 75%;
    margin: 50px;
    font-size: 1.2em;
}

td {
    padding: 5px;
    display: block;
}

tr:nth-of-type(even){
    background-color: #ccc;
}

/* @media only screen and (min-width: 1000px){
    .table.td{
        display: table-cell;
    } */
    #contact_page{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
        color: #0a1256;
        font-family: 'Libre Baskerville', serif;
    }