@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#smallLogo, #weatherimg, #farm, #trash, #vex, #small_logo2 {
    width:10em;
    height:auto;
}

#runners{
    width:10em
}

body {
    height: 100%;
    background-color: #e6e6e6;
  }

nav{
    background-color: #016fb9;
    box-shadow: 5px 5px 20px #688697;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    align-content: center;
    list-style-type: none;
    /*justify-content: space-between;
    */
}

button{
    background-color: transparent;
    border:none;
    color: #22aed1;
    float: right;
    font-size: 20px;
    /* margin: 10px; */
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    /* position: absolute */
}

nav ul li a{
    display:block;
}

nav ul{display: none;}
nav ul.open{display: block;}

a{
    /* display: block; */
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    color: darkblue;
    font-weight: 700;
}

a:hover{
    background-color: #22aed1;
    border-radius:5px;
    box-shadow: 5px 5px 10px #1fa0c1;
    
}

#fblogo #gramlogo{
    width: 20px;
}

nav h1{
    color:white;
    padding: 5px;
}

#banner{
    display:block;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 25px;
}

footer{
    background-color:#6D8EA0;
    border-radius:10px;
    box-shadow: 5px 5px 25px #688697;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer a{
    text-decoration: none;
}

footer h1{
    font-size: small;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Libre Baskerville', serif;
}

#hero{
    position:relative;
    margin: 2px;
}
#small{
    position: relative;
    /* position: absolute;
    top: 0;
    left: 0; */
}
#medium{
    display:none;
}
#large{
    display:none;
}

#chulaVista{
    display: none;
}

#joinus{
    position: absolute;
    bottom: 0;
    right: 15px;
    background: #22aed1;
    text-align: center;
    padding: 5px;
}

#events{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
}

#weather{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
}

#join{
    display: none;
    border-radius:10px;
}


#news{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
}

#spot1{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
}

#spot2{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    border-radius:10px;
}

#spot3{
    display: none;
}

p{
    background-color:transparent;
}


/*discover page*/

/* #dispage{
    display:grid;
    grid-template-columns: 1fr;
} */

img{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 5px;
}

#days{
    display: block;
    padding: 15px;
    text-shadow: 2px 2px 3px #6aacd7;
}

label, input {
    display: block;
    /* font-size: 1.5em; */
}

label {
    margin: 20px 0 0 0;
}

input {
    height: 50px;
}

/*  JOIN PAGE */

#join_content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    color: #0a1256;
    font-family: 'Libre Baskerville', serif;
}

label, input{
    display: block;
    font-size: 1.5em;
}

label{
    margin-top: 20px;
}

input{
    height: 40px;
}

input[type='radio']{
    height: 20px;
}

form input:required{
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

#radio {
    display: grid;
    grid-template-columns: 60px 100px;
    /* align-items: center; */
}

#radio label, #radio input{
    margin: 0;
}

textarea{
    height: 150px;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px; 
}

input[type='submit']{
    height: 80px;
    border-radius: 10px;
    border-color: #999;
    background-color: #22aed1;
    color: #fff;
}

input:hover{
    background-color: #fff;
    color:#22aed1;
}


#membership li{
    padding: 10px;
}

#join_chamber{
    text-align: center;
    color: #0a1256;
    font-family: 'Libre Baskerville', serif;
}

/* Thank you CSS */

#thankyou{
    color: #0a1256;
    text-align: center;
    margin-bottom: 20%;
}