@media only screen and (min-width: 750px) {
    /* Layout of the page */

    nav{
        background-color: #016fb9;
        box-shadow: 5px 5px 20px #688697;
        border-radius:10px;
        display: flex;
        flex-direction: row;
        /* padding-inline-end: 25px; */
        align-items: center;
        align-content: center;
        list-style-type: none;
        /*justify-content: space-between;
        */
    }

    #Navview{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px;
        padding-right: 130px;
    }

    button{
        display: none;
    }

    li{
        margin-left: 5vw;
    }

    #fblogo #gramlogo{
        float: right;
        padding: 5px;
    }

    .date{
        justify-content: center;
    }

    #content{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #hero{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 5px;
        stret
    }

    #chulaVista{
        width: 100%;
    }

    #small{
        display: none;
    }

    #medium{
        display: flex;
        /* position: absolute;
        top: 0;
        left: 0; */
    }

    #large{
        display: none;
    }

    #welcome{
        position: absolute;
        top: 20px;
        left: 80px;
        color:navy;
        padding: 5px;
    }

    #joinus{
        position: absolute;
        bottom: 0;
        right: 15px;
        background: #22aed1;
        text-align: center;
        color: white;
        padding: 5px;
    }

    #news{
        border: solid black 1px;
        grid-column: 1/3;
        grid-row:2/3;
        margin: 5px;
    }

    #events{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row:4/5;
        margin: 5px;
    }

    #weather{
        border: solid black 1px;
        grid-column: 2/3;
        grid-row:4/5;
        margin: 5px;
    }

    #spot1{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 5px;
    }

    #spot2{
        border: solid black 1px;
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 5px;
    }

    #join{
        display: grid;
        border: solid black 1px;
        grid-column: 1/3;
        grid-row: 5/6;
        margin: 5px;
        text-align: center;
    }

    #join h1{
        background-color: darkblue;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px lightblue;
    }


/*  Discover Page*/

/* .pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 7px;
    justify-content: start;
} */

.pics:hover{
    background-color: #016fb9;
    border-radius:5px;
}

/* #disPage{
    display:grid;
    grid-template-columns: 1fr 1fr;
} */

#bay{
    grid-column:1/2;
    grid-row: 1;
}

#boat{
    grid-column: 2/3;
    grid-row: 1;
}

#cityHall{
    grid-column:1/2;
    grid-row: 2;
}

#olympic{
    grid-column:2/3;
    grid-row:2;
}

#rohr{
    grid-column:1/2;
    grid-row:3;
}

#mthawk{
    grid-column: 2/3;
    grid-row: 3;
}

#heratige{
    grid-column: 1/2;
    grid-row: 4;
}

#golf{
    grid-column: 2/3;
    grid-row: 4;
}

#otay{
    grid-column:1/2;
    grid-row:5;
}

#eastlake{
    grid-column: 2/3;
    grid-row: 5;
}

#days{
    grid-column: 1/3;
    grid-row: 6;
}
/* JOIN PAGE*/

#join_content{
    flex-direction: row;
    /* margin-left: 80px; */
}

#membership{
    margin-left: 10%;
}

#membership h2{
    text-align: center;
}

/*Directory Page*/
#directory td{
    display: table-cell;
    /* width: 85%; */
    margin: 5% auto;
    }

/*Contact Page*/
#contactPage{
    flex-direction: row;
}
}