@media only screen and (min-width: 750px) {
    /* Layout of the page */

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px;
    }
    
    button{
        display: none;
    }
    
    li{
        margin-left: 5vw; 
    }
    
    #fblogo #gramlogo{
        float: right;
        padding: 5px;
    }
    
    .date{
        justify-content: center;
    }
    
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    #hero{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 5px;
        stret
    }

    #chulaVista{
        width: 100%;
    }
    
    #small{
        display: none;
    }
    
    #medium{
        display: grid;
        /* position: absolute;
        top: 0;
        left: 0; */
    }
    
    #large{
        display: none;
    }
    
    #welcome{
        position: absolute;
        top: 50px;
        left: 80px;
        color:white;
        padding: 5px;
        }
    }

    #news{
        border: solid black 1px;
        grid-column: 1/3;
        grid-row:2/3;
        margin: 5px;
    }

    #events{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row:4/5;
        margin: 5px;
    }

    #weather{
        border: solid black 1px;
        grid-column: 2/3;
        grid-row:4/5;
        margin: 5px;
    }

    #spot1{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 5px;
    }
    
    #spot2{
        border: solid black 1px;
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 5px;
    }

    #join{
        display: grid;
        border: solid black 1px;
        grid-column: 1/3;
        grid-row: 5/6;
        margin; 5px;
        text-align: center;
    }
    
    #join h1{
        background-color: darkblue;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px lightblue;
    }
    

    /* testing background size */
    body {
        background-color: lightblue;
      }

    .spot3 {
        display: none;
    }
    
  }
