li {
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#c30e0e;
    list-style-type: none;
  }

  li button {
    font-size: 12px;
    margin-left: 20px;
    color: #666;
  }

body{
    background-color: #ddc9dd;
    border: solid black 1px;
    text-align: center;
}

h1{
    color: #c30e0e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
